@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 id="header-text" class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <ul>
        <li>
            element 1
        </li>
        <li>
            element 2
        </li>
    </ul>
    <ul>
        <li>
            element 3
        </li>
        <li>
            element 4
        </li>
    </ul>
</div>

@*<script src="~/js/variables.js"></script>*@
@*<script src="~/js/types.js"></script>*@
@*<script src="~/js/modals.js"></script>*@
@*<script src="js/functions.js"></script>
<script src="js/testRun.js"></script>*@
<script src="js/workWithDOM.js"></script>