@model NewsAggregator.Core.DataTransferObjects.NewsWithRssNameDto

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Article</h1>

<div>
    @Html.Raw(Model.Body)
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
