@using NewsAggregator.HtmlHelpers
@model NewsAggregator.Models.ViewModels.News.NewsListWithPaginationInfo

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*@Html.CreateListNews(Model.News)*@
@foreach (var item in Model.News)
{
    await Html.RenderPartialAsync("ShortNewsPreview", item);
}

<div class="btn-group">
    @{
        var z = Url.Action("Index", new {page = 1, sourseId = Model.News.FirstOrDefault()?.RssSourseId});
    }
    @Html.CreatePagination(Model.PageInfo, i => Url.Action("Index", new {page = i, sourseId = Model.News.FirstOrDefault()?.RssSourseId}))
</div>