@model NewsAggregator.Core.DataTransferObjects.CommentDto
    
<div class="card col-sm-12">
    <div class="card-body">
        <p class="card-text">@Model.Text</p>
        <h6>@Model.Created.ToString("g")</h6>
    </div>
</div>
